<!-- <style>
    .btn:hover {
        text-decoration: underline;
        color: blueviolet;
    }
</style> -->

<div class="conatiner text-center bg-light border-end border-dark" style="height: 100%;">
    <a class="btn" href="/add-product">Add Product</a>
    <a class="btn" href="/view-product">View Product</a>
    <a class="btn" href="/view-registration">View Registration</a>
    <a class="btn" href="/view-contact">View Contact</a>
</div>