<div class="container-fluid bg-dark text-left mt-5 text-white">
    <div class="row text-left">

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h4>BookNest</h4>
            <ul>
                <li><a href="men-category.html">Clothing Fashion</a></li>
                <li><a href="men-category.html">Winter</a></li>
                <li><a href="men-category.html">Summer</a></li>
                <li><a href="men-category.html">Formal</a></li>
                <li><a href="men-category.html">Casual</a></li>
            </ul>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h4>Quick Links</h4>
            <ul>
                <li><a href="/about">About BookNest</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/rooms">Our Rooms</a></li>
                <li><a href="/signup">Sign Up</a></li>
                <li><a role="button" data-bs-toggle="modal" data-bs-target="#login">Sign In</a></li>
            </ul>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h4>Social Handles</h4>
            <ul>
                <li><a href="">Facebook</a></li>
                <li><a href="">Instagram</a></li>
                <li><a href="">Youtube</a></li>
                <li><a href="">Twitter</a></li>
                <li><a href="">Linkdin</a></li>
            </ul>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h4>Our Location</h4>
            <ul>
                <li><a href="about.html">About</a></li>
                <li><a href="shopping-cart.html">Shopping Cart</a></li>
                <li><a href="product-details.html">Product Details</a></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="mailto:akshatgoyal075@gmail.com">Mail Us</a></li>
            </ul>
        </div>

    </div>
</div>

<div class="container-fluid p-3 text-center text-bg-dark border-top border-0">
    Copyright ©2024 All rights reserved | Made by Akshat Goyal.
</div>